    body {
     background-color: #006400;
        background-image: -webkit-radial-gradient(center center, circle cover, rgba(173,255,47), transparent 50%)
          ,-webkit-radial-gradient(center center, circle cover, rgba(34,139,34), transparent 50%);
        background-size: 6px 6px, 100% 100%;
        padding: 25px;
      }

  

 a.menubutton:link, a.menubutton:visited {
        background-color:#006400 ;
        color: #fff;
        border: 1px solid #808080;
        padding: 4px 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
 margin: 2px 2px;
        cursor: pointer;
        border-radius: 5px;
      }
      a.menubutton:hover, a.menubutton:active {
        background-color: green;
        color: yellow;
      }

 a.button:link, a.button:visited {
        background-color: #006400;
        color: #fcffa4;
        border: 1px solid #dcdcdc;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
  margin: 2px 2px;
        cursor: pointer;
        border-radius: 5px;
      }
      a.button:hover, a.button:active {
        background-color:#3e8e41;
        color: white;
      }

    a:link,a:visited {
        color:yellow ;
        background-color:none;
        text-decoration: none;
      }
      a:hover {
        color: red;
        background-color: none;
        text-decoration: none;
      }

  h1 {
        color: #013220 ;
        text-shadow: -2px 0 #dcdcdc , 0 2px #dcdcdc , 2px 0 #dcdcdc , 0 -2px #dcdcdc ;
        font-family: 'Ultra', sans-serif;
        font-size: 28px;
        text-transform: uppercase;
        text-align: center;
      }
      h2 {
        color: #dcfcd7 ;
        font-family: 'Ultra', sans-serif;
        font-size: 20px;
      }
      h3 {
        color: #d1e189 ;
        font-family: 'Ultra', sans-serif;
        font-size: 18px;
      }
      hr.wdot {
        border-top: 3px dotted lime;
        width: 100%;
      }

hr.ldash {
  border-top: 3px dashed lime;
  border-radius: 2px;
  width: 100%;
}
      div.main{
        margin: auto;
        width:80% ;
        height: auto;
        padding: 25px;
        background-color:#002400;
         background-image: linear-gradient(transparent 50%, rgb(0, 20, 0) 50%);
          background-size: 50px 50px;
          border: 4px solid lime;
        border-radius: 15px;
        -moz-border-radius: 15px;
        color: lime;
 font-size: 16px;
 line-height: 1.6;
      }
      div.menu{
        width:100% ;
        text-align: center;
        padding: 0px;
        
  background-color: #080808;
          background-image: 
-webkit-radial-gradient(center center, circle cover, rgba(173,255,47), transparent 50%);
       
        background-size: 6px 6px, 100% 100%;
            }
   
      div.head{
        width:100% ;
        text-align: center;
        color:#fff;
        padding: 0px;
        background-color: #006400;
        background-image: -webkit-radial-gradient(center center, circle cover, rgba(173,255,47), transparent 50%)
          ,-webkit-radial-gradient(center center, circle cover, rgba(34,139,34), transparent 50%);
        background-size: 16px 16px, 100% 100%;
      }

  div.foot{
        width:100% ;
        text-align: center;
        color:#fff;
        padding: 0px;
        background-color: #006400;
          background-image: -webkit-radial-gradient(center center, circle cover, rgba(173,255,47), transparent 50%);
         
        background-size: 6px 6px, 100% 100%;
      }
    